.logo{
    margin: 5px;
    margin-left: 1%;
    margin-top: 1%;
    float: left;
    overflow: auto;
}
.bc{
    background-size: 1050px 800px;
    background-image: url(img7.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: aqua;
    overflow: auto;
}
.head{
    position: relative;
    text-align: left;
    margin-left: 40%;
    float: left;
    margin-top: 2%;
    margin-right: 80%; 
}
.login{
    position: relative;
    text-align: left;
    float: left;
    margin-top: 2%;
    margin-right: 80%;
}
.quotes{
    position: relative;
    text-align: end;
    margin-left: 30%;
    color: aqua;
    font-size: x-large;
    float: left;
}
