.logo{
    margin: 5px;
    margin-left: 1%;
    margin-top: 1%;
    float: left;
    overflow: auto;
}
.i1{
    height: 400px;
    width: 500px;
    margin-top: 300%;
    margin-right: 2%;
    font-size: larger;
    text-transform: capitalize;
    position: relative;
    text-align: center;
    float: left;
    overflow: auto;
}
.i2{
    height: 800px;
    width: 1000px;
    margin-top: 15%;
    font-size: xx-large;
    text-transform: capitalize;
    margin-right: 20%;
    position: relative;
    text-align: center;
    float: left;
    overflow: auto;
}
.i3{
    height: 400px;
    width: 500px;
    margin-top: 35%;
    margin-left: 100%;
    margin-right: 10%;
    font-size: larger;
    text-transform: capitalize;
    position: relative;
    text-align: center;
    float: left;
    overflow: auto;
}
.head{
    position: relative;
    text-align: left;
    margin-left: 40%;
    float: left;
    margin-top: 2%;
    margin-right: 80%; 
}
.login{
    position: relative;
    text-align: left;
    float: left;
    margin-top: 2%;
    color: aqua;
}
.quotes{
    position: relative;
    text-align: top;
    margin: 5px;
    margin-left: 10%;
    color: aqua;
    font-size: x-large;
    float: left;
}
.search{
    color: black;
    float: left;
    margin: 3%;
    font-size: x-large;
    height: 30px;
    font-size: small;
    width: 200px;
}
.others{
    font-size: small;
}
